* {
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
}

#initial {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vh 0;
}

#initial > img {
    width: 7vw;
    margin-bottom: 30px;
    transition-duration: 0.5s;
}

#initial > h1 {
    font-size: 3.2rem;
    font-weight: 400;
    margin-bottom: 15px;
}

#initial > button {
    width: 38vw;
    height: 12vh;
    font-size: 2.8rem;
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
    border: solid 5px #000;
    border-radius: 10px;
    letter-spacing: 12px;
    font-weight: 200;
    margin-top: 30px;
}

#initial > button:hover{
    background-color: #000;
    color: #fff;
}

#initial > button:focus {
    outline: none;
}

#initial > img:hover {
    width: 9vw;
}
